[submodule "GUI_QT_ONLY"]
	path = GUI_QT_ONLY
	url = https://github.com/WilliamBonilla62/GUI_QT_ONLY.git
[submodule "GUI/lib_global_python"]
	path = GUI/lib_global_python
	url = https://github.com/apajon/lib_global_python.git
